<html>

<head>
    <meta charset="UTF-8">
    <title>About | Students Databse system</title>
    <link href="css/file_name.css" rel="stylesheet">
    <link rel="stylesheet" href="D:\New folder\Second Project\public\css\bootstrap.css">
    <link rel="stylesheet" href="D:\New folder\Second Project\public\css\about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="D:\New folder\Second Project\public\js\jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="D:\New folder\Second Project\public\img\favicon1.png">
</head>

<body>
    <div class="row header" id="myheader">
        <div class="col-md-3">
            <img class="logo" src="D:\New folder\Second Project\public\img\school logo.jpg">
        </div>
        <div class="col-md-6">
            <ul id="menu" style="cursor:pointer;">
                <li> <a class="h" href="D:\New folder\Second Project\views\index.html">Home</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\adddtl.html">Add Details</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\viewdtl.html">View Details</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\about.html">About</a></li>

            </ul>
        </div>
        <div class="col-md-2">
            <img class="logo1" src="D:\New folder\Second Project\public\img\education.jpg">
        </div>
    </div>
    <br>
    <div class="heading">
        <h3>About</h3>
    </div>
    <div class="content">
        <p class="t1">
            Managing an educational system requires careful planning and time management. Today, a school has evolved into a complex institution with multiple campuses, manifold , departments several sections and a very large number of students. For schools moving
            from a traditional paper-based data management system to a digital, automated system is a critical need of the hour. A student database management system in its simplest form uses a digital tracking system to maintain a record of all the students.
            However, in practicality, the system has much more complex functions. It maintains a record of every student-related data ranging from fees and financial records, examination records, transport facilities being provided by the school and availed
            by the students along with the usage of libraries, laboratory, computer lab and other school facilities used regularly by the students. A student database management system allows schools to save and access these records as needed by them,
            thus simplifying the work of the school administration team.
        </p>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="">Gokul</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>