<html>

<head>
    <meta charset="UTF-8">
    <title>View Details | Students Databse system</title>
    <link href="css/file_name.css" rel="stylesheet">
    <link rel="stylesheet" href="D:\New folder\Second Project\public\css\bootstrap.css">
    <link rel="stylesheet" href="D:\New folder\Second Project\public\css\viewdtl.css">
    <link rel="shortcut icon" href="https://www.flaticon.com/authors/photo3idea-studio">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="D:\New folder\Second Project\public\js\jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="D:\New folder\Second Project\public\img\favicon1.png">
</head>

<body>
    <div class="row header" id="myheader">
        <div class="col-md-3">
            <img class="logo" src="D:\New folder\Second Project\public\img\school logo.jpg">
        </div>
        <div class="col-md-6">
            <ul id="menu" style="cursor:pointer;">
                <li> <a class="h" href="D:\New folder\Second Project\views\index.html">Home</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\adddtl.html">Add Details</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\viewdtl.html">View Details</a></li>
                <li> <a class="h" href="D:\New folder\Second Project\views\about.html">About</a></li>

            </ul>
        </div>
        <div class="col-md-2">
            <img class="logo1" src="D:\New folder\Second Project\public\img\education.jpg">
        </div>
    </div>
    <br>
    <div class="col-lg-12 row">
        <div class="col-lg-3">
            <img class="add1" src="D:\New folder\Second Project\public\img\add1.jpg">
        </div>
        <div class="col-lg-6 ">
            <div class="card2 card border-0 px-4 py-5">
                <div class="row mb-4 px-3">
                    <h6 class="add details">view Details</h6>
                </div>

                <div class="row px-3"> <label class="col-25">
                            <h6 class="mb-0 text-sm">Name</h6>
                        </label> <output class="col-75" type="text" name="name" placeholder="Enter Your Name..."> </div>
                <div class="row px-3"> <label class="col-25">
                            <h6 class="mb-0 text-sm">Register Number</h6>
                        </label> <output class="col-75" type="text" name="register number" placeholder="Enter Your Register Number..."> </div>
                <div class="row px-3 "><label class="col-25">
                            <h6 class="mb-0 text-sm">Standard</h6>
                        </label> <output class="col-75" type="text" name="standard" placeholder="Enter Which Standard You studying..."> </div>
                <div class="row px-3"> <label class="col-25">
                            <h6 class="mb-0 text-sm">Blood Group</h6>
                        </label> <output class="col-75" type="text" name="blood group" placeholder="Enter Your Blood Group..."> </div>
                <div class="row px-3"> <label class="col-25">
                            <h6 class="mb-0 text-sm">Address</h6>
                        </label> <output class="col-75" type="text" name="address" placeholder="Enter Your Address..."> </div>
                <div class="row px-3"> <label class="col-25">
                            <h6 class="mb-0 text-sm">phone Number</h6>
                        </label> <output class="col-75" type="text" name="address" placeholder="Enter Your phone Number..."> </div>
            </div>

        </div>

        <div class="col-lg-3 ">
            <img class="add2" src="D:\New folder\Second Project\public\img\add2.jpg">
        </div>

    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="">Gokul</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>